/composer.lock
/composer.phar
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/docs
/fuel/vendor
/fuel/packages
/fuel/core
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/tmp/*
/fuel/app/config/development/*
/fuel/app/config/production/*
/fuel/app/config/stage/*
/fuel/app/config/test/*
/fuel/app/config/crypt.php
nbproject/

